@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  /* Hide scrollbar for a cleaner look */
/* .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } */

  @import '@fortawesome/fontawesome-free/css/all.min.css';

  /* styles.css or globals.css */

.sidebar-filter {
    max-height: 160px;
    overflow-y: auto;
  }
  
  .sidebar-filter ul {
    padding-top: 10px;
  }
  
  .sidebar-filter li {
    margin-bottom: 10px;
  }